option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: COMPOSER_HOME
    value: /root

  - namespace: aws:elasticbeanstalk:container:php:phpini
    option_name: document_root
    value: /public

  - namespace: aws:elasticbeanstalk:container:php:phpini
    option_name: memory_limit
    value: 256M

commands:
  00_php_ini_bak:
    command: cp /etc/php.ini /etc/php.ini.bak

  01_install_pecl_redis:
    command: |
      pecl install redis
      echo "extension=redis.so" | tee /etc/php.d/50-redis.ini
    test: "php -r \"exit(extension_loaded('redis') ? 1 : 0);\""

  02_install_pecl_ev:
    command: |
      pecl install ev
      echo "extension=ev.so" | tee /etc/php.d/50-ev.ini
    test: "php -r \"exit(extension_loaded('ev') ? 1 : 0);\""

  03_php_ini_restore:
    command: cp /etc/php.ini.bak /etc/php.ini

container_commands:
  01_copy_env_file:
    command: |
      touch .env
      echo "APP_ENV=beanstalk" > .env
      chown webapp:webapp .env

  02_chmod_folders:
    command: |
      chmod -R 777 storage/
      chmod -R 777 bootstrap/cache/
      mkdir storage/framework/cache
      mkdir storage/framework/views
      chown webapp:webapp storage/logs
      chown webapp:webapp storage/framework/*

  03_install_composer_dependencies:
    command: |
      /usr/bin/composer.phar self-update
      php /usr/bin/composer.phar install --no-dev --no-interaction --prefer-dist --optimize-autoloader

  04_link_storage_folder:
    command: php artisan storage:link # not needed as we are using S3

  05_systemctl_restart_nginx:
    command: systemctl restart nginx
